@import '../../../variables';

.heading {
  width: 60%;
  height: 100%;
  color: $white;
  text-align: center;
  padding: 50px 30px;
  margin: 0 auto;
  h1 {
    display: block;
    color: $orange;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 0;
  }
  h6 {
    display: block;
    margin: 5px 0;
    font-size: 3vw;
    font-weight: 400;
  }
  @media screen and (max-width: $tablet) {
    width: 90%;
    padding: 0;
    padding-top: 30px;
    h1 {
      font-size: 3vw;
    }
    h6 {
      font-size: 4vw;
    }
  }
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
   padding: 15px 3vw 100px;
    text-align: center;
    color: $white;
    h3 {
      margin: auto 0;
      margin-bottom: 30px;
      font-weight: 800;
    }
    p {
      margin: auto 0;
      margin-top: 30px;
      font-weight: 300;
    }
    svg {
      fill: $white;
      width: 14vw;
      height: 14vw;
      cursor: pointer;
      circle{
        stroke: $white;
      }
      &:hover{
        scale: 1.1;
      }
    }
  }
  @media screen and (max-width: $tablet) {
    display: block;
    padding: 15px 0 ;
    .icon {
        padding-bottom: 15px;
        h3 {
          margin: auto 0;
          margin-bottom: 30px;
          font-weight: 800;
        }
        p {
          margin: auto 0;
          margin-top: 30px;
          font-weight: 300;
        }
        img {
          width: 40vw;
          height: 40vw;
        }
    }
  }
}