// color variables
$orange: #ffb300;
$white: #f2f2f2;
$blue: #253CAE;
$black: #333333;

$white-bg: #E0EAEF;

$facebook: #0036C4;
$instagram: #d43d71;
$linkedin: #1483AE;
$quora: #AE382F;
$whatsapp: #28AF17;

// break points
$laptop-sm: 1280px;
$tablet: 960px;
$phone: 360px;

// size variables
$marginLeft: 50px;



