/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 0);
    margin: auto;
    width: 50%;
}

.slide_container {
    width: 80vw;
    margin: 50px 0;
}

.slide_content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.card {
    border-radius: 25px;
    background-color: #fff;
}

.image_content,
.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image_content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card_image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card_image .card_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265df2;
}

.swiper_navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}

.swiper_navBtn:hover {
    color: #4070f4;
}

.swiper_navBtn::before,
.swiper_navBtn::after {
    font-size: 35px;
}

.swiper_button-next {
    right: 0;
}

.swiper_button-prev {
    left: 0;
}

.feature-pagination {
    width: 80px;
    border-radius: unset;
}

.feature-pagination .active {
    background: white;
}

@media screen and (max-width: 768px) {
    .slide_content {
        margin: 0 10px;
    }

    .swiper_navBtn {
        display: none;
    }
}


.swiper_div {
    width: 100vw;
    margin-top: 5vw;
}

@media screen and (max-width: 640px) {}

.swiper_pagination {
    margin-top: 70px;
}