.root {}

.white_div {}

.features_div {
    height: 110vh;
    position: relative;
}

.features_title {
    height: 0vh;
    display: inline-block;
    margin: 0vw 0vw 0vw 45vw;
    position: absolute;
    top: 200px;
    width: 30vw;
    z-index: 1;
}

.features_images {
    height: auto;
    display: inline-block;
    position: absolute;
    top: 200px;
    margin: 0px;
    z-index: 1;
    width: 30vw;
}

.features {}

.features_image_large {
    width: 450px;
    height: 700px;
    position: absolute;
    border: 15px solid #FFFFFF;
    box-shadow: 0 0 30px #BAB1B1;
}

.features_image_smalll {
    position: absolute;
    width: 250px;
    height: 400px;
    bottom: -850px;
    border: 15px solid #FFFFFF;
    box-shadow: 0 0 30px #BAB1B1;
    left: 280px;
    margin-bottom: 0px;
}

.paragraph {
    font-size: 1.5rem;
    margin: 40px 0px;
}

.bold_header {
    font-weight: 800;
    font-size: 3em;
    margin: 1px;
}

.brown_header {
    color: #884343;
    font-weight: 600;
    margin: 1px;
    font-size: 1.3em;
}

@media screen and (max-width: 1280px) {
    .features_div {
        height: 150vh;
        margin-bottom: 50vw;
    }

    .features_images {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features_title {
        width: 70%;
        display: block;
        top: 1050px;
        margin-left: 0;
        margin-top: 100px;
    }

    .features_image_large {
        width: calc(350px + 5vw);
        height: calc(1.6 * (350px + 5vw));
        top: 0;
        margin-right: 23vw;
    }

    .features_image_smalll {
        position: absolute;
        width: calc(170px + 5vw);
        height: calc(1.6 * (170px + 5vw));
        margin-left: calc(45vw - 280px);
    }




}