svg{
  position: relative;
}
.class1 {
  fill: #f2f2f2;
}
.class2 {
  fill: none;
}
.class2 {
  stroke: #f2f2f2;
  stroke-miterlimit: 10;
  stroke-width: 40px;
}
.Layer_1 {
  position: relative;
}
.Layer_2 {
  position: absolute;
}
