* {
  font-family: 'montserrat', sans-serif;
}

body {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: blue;
}
body::-webkit-scrollbar {
  width: thin;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #111111;
}

nav {
  background-color: #1c1c1c77;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  border-color: #646cff;
  transition-duration: 0.5s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  background-color: #111111;
  width: 90vw;
  height: 100%;
  margin: 50px;
}

.inline {
  display: inline;
}

.root_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_sizer {
  width: 80vw;
}

/* grey stuff */
.grey_div {
  background-color: #e6e4e2;
  overflow: hidden;
  position: relative;
}

/* white stuff */
.white_div {
  background-color: #ffffff;
}

.grey_div,
.white_div {
  width: 100vw;
  z-index: -2;
  overflow: hidden;
}

.white_div {
  position: relative;
  background-color: #ffffff;
}

.white_background_text,
.grey_background_text {
  font-weight: 700;
  position: absolute;
  font-size: 450px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.087);
  overflow: hidden;
  width: auto;
  left: auto;
  right: -400px;
}

.white_background_text {
  color: #ffffff;
  bottom: -40px;
  left: -300px;
}

.grey_background_text {
  color: #e6e4e2;
  bottom: -40px;
  right: -300px;
}

.general_titles_div {
  text-align: center;
}

.brown_header {
  font-size: 1.2rem;
  color: #884343;
  margin-top: 50px;
  margin-bottom: 15px;
}

.black_header {
  font-size: 3rem;
  color: #000000;
  line-height: 0.9;
  margin: 0px;
}

@media screen and (max-width: 960px) {
  footer {
    margin: 50px 20px;
    overflow: hidden;
  }
}

@media screen and (max-width: 640px) {
}
